*~
.cache/
.fetched_dependencies
.lsp-session-v1
.org-id-locations
auto-save-list/
autosave/
bookmarks
eln-cache/
elpa/
emacs/
lisp/pkgs/work.el
org-roam.db
projectile-bookmarks.eld
projectile.cache
projects
recentf
request/
straight/build-cache.el
straight/build/
straight/modified/
straight/repos/
transient/
url/
