*~
.cache/
.fetched_dependencies
.lsp-session-v1
auto-save-list/
eln-cache/
elpa/
emacs/
projectile-bookmarks.eld
projectile.cache
projects
recentf
straight/build
straight/build-cache.el
straight/repos
transient/
